{% extends "layout.html" %}
{% block body %}
<div class="container mt-4">
  <h1 class="title is-3">{{ post.title }}</h1>
  <h2 class="subtitle is-5">작성자: {{ author.nickname }}</h2>
  <div class="box mt-4">
    {% if post.image %}
    <figure class="">
      <img class="postview" src="./image" height="300">
    </figure>
    {% endif %}
    <p class="mt-2">
      {{ post.content.replace("\n", "<br>") }}
    </p>
    <br>
    <p class="subtitle has-text-grey has-text-right is-6">
      {{ str_from_dt(post.creation_time) }}
    </p>
    {% if user.account_type != 0 or user.id == post.author %}
    <a href="./delete">
      <button class="button is-danger">삭제</button>
    </a>
    {% endif %}
  </div>
  <a href="./answer">
    <button class="button is-primary">답변하기</button>
  </a>
  <hr>
  <h1 class="title is-3">답변들</h1>
  {% if replies %}
  {% for reply in replies %}
  <div class="box mt-2">
    <h1 class="title is-4">{{ reply.title }}</h1>
    <h2 class="subtitle is-6">작성자: {{ get_user_from_id(reply.author).nickname }}</h2>
    {% if reply.image %}
    <figure class="">
      <img class="postview" src="../{{ reply.id }}/image">
    </figure>
    {% endif %}
    <p class="mt-2">{{ reply.content.replace("\n", "<br>") }}</p>
    <br>
    <p class="subtitle has-text-grey has-text-right is-6">
      {{ str_from_dt(reply.creation_time) }}
    </p>
    {% if user.account_type != 0 or user.id == reply.author %}
    <a href="../{{ reply.id }}/delete">
      <button class="button is-danger">삭제</button>
    </a>
    {% endif %}
  </div>
  {% endfor %}
  {% else %}
  <h2 class="subtitle">아직 작성된 답변이 없습니다.</h2>
  {% endif %}
</div>
<script>
  imgs = document.querySelectorAll("img.postview");
  imgs.forEach((img) => {
    img.addEventListener('click', () => window.open(img.src))
  })
</script>
<style type="text/css">
img.postview {
  max-height: 250px;
  width: auto;
  height: auto;
}

</style>
{% endblock %}
