@font-face {
    font-family: 'NanumBarunGothic';
    src: url(https://bch.kokoseij.xyz/static/webfont/NanumBarunGothic/NanumBarunGothicWeb.eot);
    src: url(https://bch.kokoseij.xyz/static/webfont/NanumBarunGothic/NanumBarunGothicWeb.eot?#iefix) format("embedded-opentype"), url(https://bch.kokoseij.xyz/static/webfont/NanumBarunGothic/NanumBarunGothicWeb.woff) format("woff"), url(https://bch.kokoseij.xyz/static/webfont/NanumBarunGothic/NanumBarunGothicWeb.ttf) format("truetype");
}

@font-face {
    font-family: 'NanumBareunGothicLight';
    src: url(https://bch.kokoseij.xyz/static/webfont/NanumBarunGothic/NanumBarunGothicWebLight.eot);
    src: url(https://bch.kokoseij.xyz/static/webfont/NanumBarunGothic/NanumBarunGothicWebLight.eot?#iefix) format("embedded-opentype"), url(https://bch.kokoseij.xyz/static/webfont/NanumBarunGothic/NanumBarunGothicWebLight.woff) format("woff"), url(https://bch.kokoseij.xyz/static/webfont/NanumBarunGothic/NanumBarunGothicWebLight.ttf) format("truetype");
}

@font-face {
    font-family: 'NanumBarunGothicBold';
    src: url(https://bch.kokoseij.xyz/static/webfont/NanumBarunGothic/NanumBarunGothicWebBold.eot);
    src: url(https://bch.kokoseij.xyz/static/webfont/NanumBarunGothic/NanumBarunGothicWebBold.eot?#iefix) format("embedded-opentype"), url(https://bch.kokoseij.xyz/static/webfont/NanumBarunGothic/NanumBarunGothicWebBold.woff) format("woff"), url(https://bch.kokoseij.xyz/static/webfont/NanumBarunGothic/NanumBarunGothicWebBold.ttf) format("truetype");
}

@font-face {
    font-family: 'NanumBareunGothicUltraLight';
    src: url(https://bch.kokoseij.xyz/static/webfont/NanumBarunGothic/NanumBarunGothicWebUltraLight.eot);
    src: url(https://bch.kokoseij.xyz/static/webfont/NanumBarunGothic/NanumBarunGothicWebUltraLight.eot?#iefix) format("embedded-opentype"), url(https://bch.kokoseij.xyz/static/webfont/NanumBarunGothic/NanumBarunGothicWebUltraLight.woff) format("woff"), url(https://bch.kokoseij.xyz/static/webfont/NanumBarunGothic/NanumBarunGothicWebUltraLight.ttf) format("truetype");
}