<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>BCHIES 부천고 정보공유시스템</title>
  <link rel="stylesheet" href="/static/bulma.min.css" />
  <link href="/webfont/nanum-barun-gothic.css" rel="stylesheet" />
  <style>
  body {
    font-family: 'NanumBarunGothic', sans-serif;
  }

  </style>
</head>

<body>
  <nav class="navbar" role="navigation">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28" />
        </a>
        <a role="button" class="navbar-burger">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="/">홈</a>
          <a class="navbar-item" href="/questions">질문들</a>
          <a class="navbar-item" href="/questions/create">
            <div class="button is-primary">새 질문 하기</div>
          </a>
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <a class="button is-primary" href="/register">가입하기</a>
            <a class="button is-light" href="/login">로그인</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
  {% block body %}{% endblock %}
  <footer class="footer mt-6">
    <div class="columns has-text-grey is-size-6">
      <div class="column">
        <a href="https://bch.hs.kr/">
          <img src="https://bch.hs.kr/home/image/logo_b1.gif">
        </a><br>
        14733 경기도 부천시 경인로92번길 70 부천고등학교<br><br>
        Tel. 교무실 032-611-9431(09:00~17:00)<br>
        행정실 032-665-5154(09:00~17:00)<br>
        당직실 032-665-5154(야간, 휴일)<br>
        (Fax) 032-611-9435
      </div>
      <div class="column has-text-centered">
        🄯 2021 Wonjun Jung<br><br>
        부천고등학교 매크로 2021 웹개발팀:<br>
        정원준, 김정훈, 임성빈, 이지호, 김도윤
      </div>
      <div class="column has-text-right">
        <a href="https://github.com/KokoseiJ/bchmacro_webproj">
          Github
        </a>
        <a href="mailto:kokoseij@gmail.com">
          Contact
        </a>
      </div>
    </div>
  </footer>
  <!--Handler for navbar borglar button-->
  <script>
  var borglar = document.querySelector(".navbar-burger");
  var menu = document.querySelector(".navbar-menu");
  borglar.addEventListener("click", () => {
    borglar.classList.toggle("is-active");
    menu.classList.toggle("is-active");
  });

  </script>
</body>

</html>
